body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

/* Stylisation du nav */

.largeur{
    margin: auto;
    max-width: 1280px;
    padding: 25px 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    height: 100%;
}

.menu ul{
    display: flex;
}

.menu a{
    display: flex;
    color: #0065FC;
    text-decoration: none;
    font-weight: 500;
}

.menu a:hover{
    color: rgb(54, 54, 54);
}

li{
    list-style: none;
}

.autre p:last-child{
    display: none;
}

.sep{
    margin: 0 35px;
}

.module_filtre_container{
    display: flex;
    flex-wrap: wrap;
}

.filtres p{
    font-weight: 600;
}

/* Stylisation du header */

.intro{
    margin-top: 28px;
}

.module{
    display: flex;
    align-items: center;
    width: max-content;
    font-weight: 600;
    border-radius: 8px;
    overflow: hidden;
    border: #ececec 1px solid;
}

.module p, .module i{
    margin: 0;
}

.location{
    padding: 10px;
    background-color: #e8e8e8;
}

.fa-star{
    color: #F2F2F2;
}
.blue-star{
    color: #0065FC;
}

.search{
    padding: 10px;
}

.search p{
    margin: 0 65px 0 0;
}

.autre{
    padding: 10px;
    background-color: #0065FC;
    color: white;
}

.filtres{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.module_filtre{
    display: flex;
    align-items: center;
    border: #F2F2F2 2px solid;
    border-radius: 35px;
    height: 35px;
    margin: 0 10px;
    box-sizing: border-box;
}

.module_filtre div{
    display: flex;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: -2px;
}

.module_filtre div i{
    color: #0065FC;
    padding: 10px 10px;
    font-weight: 700;
}

.module_filtre p{
    margin: 0px 21px;
}

.info{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.info div{
    margin-right: 13px;
    border: 2px solid #F2F2F2;
    padding: 9px;
    height: 2px;
    width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}

.info div i{
    font-weight: 900;
    font-size: 11px;
    color: #0065FC;
}

.info p{
    font-size: 0.85em;
}

/* Stylisation de la section gauche */
 
.container_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 60%;
    border-radius: 20px;
    padding: 13px 25px;
}

.container_left p{
    margin-left: 2%;
}

.container_left p:first-child{
    font-size: 1.1rem;
    font-weight: 800;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.fiche{
    background-color: white;
    width: 220px;
    height: 210px;
    border-radius: 20px;
    padding: 6px;
    box-shadow: 0 1px 22px rgba(0,0,0,0.13);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin: 15px 10px;
}

.fiche:hover{
    box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.45);
}

.fiche img{
    width: 220px;
    border-radius: 14px 14px 0 0;
    height: 120px;
    object-fit: cover;
}

.fiche p{
    margin: 9px 0px;
}

.fiche div{
    margin-left: 13px;
}

.fiche div p:first-child{
    font-weight: 600;
}

.vignette{
    display: flex;
    justify-content: space-between;
}

.container_right{
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 20px;
    min-width: 400px;
    height: 700px;
}

.container_right p{
    display: block;
    font-weight: 700;
}

.centrer{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 0;
}

.center_txt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 89%;
    font-size: 1.1rem;
    font-weight: 800;
}

.center_txt p{
    margin: 0 13px 0 0;
}

.populaire{
    display: flex;
    align-items: center;
    margin: 30px 0px;
    background-color: white;
    height: 153px;
    border-radius: 25px;
    box-shadow: 0 1px 22px rgba(0,0,0,0.13);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    width: 360px;
}

.populaire:hover{
    box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.45);
}

.populaire img{
    height: 140px;
    width: 142px;
    border-radius: 20px 0px 0 20px;
    object-fit: cover;
    margin-left: 7px;
}

.populaire__container{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    height: 100%;
    justify-content: space-around;
}

.populaire__container p:last-child{
    font-weight: 100;
}

/* ACTIVITES */

.activites{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.diviseur{
    display: flex;
    width: 47%;
    justify-content: space-between;
    min-width: 580px;
}

.activites_container{
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 1px 22px rgba(0,0,0,0.13);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.activites_container:hover{
    box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.45);
}
 
.activites_container img{
    width: 270px;
    height: 160px;
    object-fit: cover;
}

.activites_container p{
    font-weight: 600;
    margin-left: 19px;
}

.large img{
    height: 400px;
}

.last{
    margin-top: 60px;
}

.last h2{
    font-size: 1.2rem;
    margin: 30px 0;
}

.activites_sub_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    background-color: #F2F2F2;
    height: 210px;
}

footer div{
    margin-right: 20%;
    min-width: 220px;
}

footer div:first-child{
    margin-left: 5%;
}

footer ul{
    padding: 0;
}

footer li{
    margin: 10px 0;
}

@media only screen and (max-width: 1374px) {
    .container_left{
        width: 50%;
    }

    .centrer div:last-child{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1300px) {
    .diviseur{
        margin: auto;
        width: 51%;
        flex-direction: column;
        min-width: auto;
    }

    .large img{
        width: auto;
    }

    .activites_container{
        margin: 20px 40px;
    }

    .activites_container img{
        width: 100%;
    }
} 

/* raire passer a 1374 */

@media only screen and (max-width: 1200px){
    .activites{
        justify-content: space-around;
    }

    footer div{
        margin-right: 12%;
    }
}

@media only screen and (max-width: 1122px) {
    .vignette{
        flex-direction: column;
    }

    .container_left{
        width: 95%;
        margin-bottom: 30px;
    }

    .container_right{
        height: auto;
    }

    .container_right{
        width: 100%;
    }

    .center_container{
        justify-content: space-around;
    }

    .center_txt{
        justify-content: flex-start;
    }

    footer div{
        margin-right: 10%;
    }

    .populaire{
        margin: 15px 0px;
    }

    .center_txt{
        margin-left: 4%;
    }
}

@media only screen and (max-width: 897px){
    .module_filtre{
        margin: 6px 10px;
    }

    .filtres{
        flex-direction: column;
        align-items: flex-start;
    }

    .module_filtre{
        margin: 6px 10px 6px 0;
    }

    .intro h2{
        line-height: 30px;
    }

    footer div{
        margin-right: 4%;
    }

    footer div:last-child{
        min-width: auto;
    }

    .activites{
        flex-direction: column;
    }

    .large img{
        height: 160px;
    }

    .activites_container{
        min-width: 82%;
    }
}

@media only screen and (max-width: 697px){
    .diviseur{
        flex-direction: column;
        width: initial;
        min-width: initial;
    }

    footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    footer div:last-child{
        min-width: 220px;
    }

    footer div:first-child{
        margin-left: 0;
    }

    footer div{
        margin: 12px 0;
    }

    .vignette{
        align-items: center;
    }
}

@media only screen and (max-width: 540px){
    .intro{
        padding: 0px 20px;
    }

    .autre p:first-child{
        display: none;
    }

    .autre p:last-child{
        display: block;
    }

    .autre{
        border-radius: 10px;
    }

    .module{
        margin: 30px auto 0;
    }

    .filtres{
        padding: 0px 20px;
    }

    .info{
        padding: 0px 20px;
    }

    .largeur{
        margin: auto;
        padding: 0;
    }

    .vignette{
        flex-direction: column-reverse;
    }
    nav{
        flex-direction: column;
    }

    nav li:last-child{
        position: absolute;
        top: 30px;
        right: 0;
        font-weight: 700;
    }

    nav img{
        position: absolute;
        width: 90px;
        height: auto;
        top: 16px;
        left: 14px;    
    }

    .fiche{
        width: 82%;
    }

    .fiche img{
        width: 100%;
    }

    .menu{
        margin: 90px 0 0 0;
        width: 100%;
    }

    .menu ul{
        padding: 0;
    }
    .menu li{
        display: block;
        width: 50%;
        margin: 0;
    }

    .menu a{
        justify-content: center;
        height: 28px;
    }

    .container_left{
        width: 100%;
        padding: 0;
        border-radius: 0;
        background-color: white;
    }

    .container_left > p{
        margin: 30px 8vw 10px;
    }

    .container_right{
        min-width: initial;
        border-radius: 0;
    }

    .centrer{
        padding: 0;
    }

    .un{
        border-bottom: #0065FC 2.5px solid; 
    }

    .sep{
        border-bottom: #F2F2F2 2px solid; 
    } 

    .center_txt{
        margin: 30px 8vw 10px;
        justify-content: space-between;
    }

    .last h2{
        margin: 30px 8vw 10px;
    }
}



